
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <h2>Tennis App</h2>
                <hr>
                <form method="post" action="/p">
                    <label for="playerName">
                        Name: <input name="playerName" type="text" id="playerName" class="form-control">
                    </label>
                    <label for="playerCountry">
                        Country: <input name="playerCountry" type="text" id="playerCountry" class="form-control">
                    </label>
                    <hr>
                    <button type="submit" class="btn btn-success" id="addButton">Add Player</button>
                </form>
                <hr>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Country</th>
                        </tr>
                    </thead>
                    <tbody id="tbody"></tbody>
                </table>

            </div>
        </div>
    </div>