    
    <div class="container-fluid">
        <div class="row">
            <h1>Welcome {{user.name}}</h1>
        </div>
        <a href="/logout" class="btn btn-warning">Logout</a>
    </div>

    <script>
        console.log('profile page')
    </script>