    <div class="container-fluid">
        <a href="/signup">Add Users</a>
        <div class="row">
            <ul>
                {{#each users}}
                    <li>{{this.name}}</li>
                    <img width="100" alt="profile-image" src="./{{this.profileImage}}" />
                {{/each}}
            </ul>
        </div>
    </div>

    <script>
        console.log('users page')
    </script>